# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/

# Environment files
.env
*.env

# IDE and OS specific
.vscode/
.idea/
.DS_Store
