version: '3.8'

services:
  smart-app:
    # 告訴 docker-compose 使用當前目錄的 Dockerfile 來建置映像檔
    build: .
    # 為容器命名，方便管理
    container_name: smart_fhir_app
    # 將主機的 8080 port 映射到容器的 8080 port
    # 格式是： <主機 port>:<容器 port>
    ports:
      - "8080:8080"
    # 從外部檔案讀取環境變數，這樣您就不需要將機密資訊寫死
    # 建議您將 openemr.env 複製一份並命名為 docker.env 來使用
    env_file:
      - docker.env
    # (可選，但強烈建議在開發時使用)
    # 將您本地的程式碼掛載到容器中，這樣您修改程式碼時就無需重新建置映像檔
    # 格式是：<本地路徑>:<容器內路徑>
    volumes:
      - .:/app

networks:
  default:
    name: smart_fhir_app_network
